div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a,button,input {
	transition: all ease .3s;
}
body {
	font-family: $font_primary;
	font-size: 15px;
	line-height: 1.4;
	color: $primary;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.wrapper {
	max-width: $wrapper;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.wrapper-narrow {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site-header {
	position: relative;
	z-index: 500;
	.wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.logo {
		width: 30%;
		position: relative;
		z-index: 10;
		a {
			display: block;
			width: 120px;
			position: relative;
			top: 4px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.flexwrap {
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
	}
}
.main-navigation {
	width: 90%;
	position: absolute;
	right: 0;
	@include tab {
		position: relative;
		width: 70%;
		right: -20px;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	a {
		display: inline-block;
		text-decoration: none;
		position: relative;
	}
	.menu {
		display: inline-block;
		float: right;
	}
}
.main-navigation ul > li {
	float: left;
}
.main-navigation ul > li > a {
	font-size: 14px;
	font-weight: 400;
	color: $primary;
	text-transform: uppercase;
	padding: 5px 20px;
	span {
		position: relative;
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			background: $secondary;
			position: relative;
			top: 2px;
			transition: all ease .3s;
			transform: scaleX(0);
			opacity: 0;
		}
	}
}
.main-navigation ul > li.current_page_item > a,
.main-navigation ul > li:hover > a {
	span:after {
		opacity: 1;
		transform: scaleX(1);
	}
}
.main-navigation ul > li > ul {
	display: block;
	transition: all ease .2s;
	width: 250px;
	position: absolute;
	left: 0;
	padding: 0 20px;
	height: 0;
	overflow: hidden;
	li {
		background: $secondary;
		display: block;
		width: 100%;
		padding: 0 20px;
	}
	a {
		padding: 5px 0;
		color: #FFF;
		font-size: 15px;
		line-height: 1.2;
		&:hover {
			color: $primary;
		}
	}
}
.main-navigation ul > li > ul li.current_page_item > a {
	color: $primary;
}
.main-navigation ul > li > ul > li:first-child {
	padding-top: 15px;
}
.main-navigation ul > li > ul > li:last-child {
	padding-bottom: 15px;
}
.main-navigation ul > li:hover > ul {
	height: auto;
	overflow: visible;
	padding: 5px 20px;
}	
.menu-toggle {
	display: none;
}

#mobile-menu-backdrop,
#mobile-navigation {
	display: none;
	transition: all ease .3s;
	transition-delay: 0.1s;
	@include animated(1s);
}
#mobile-menu-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,.85);
}
#mobile-navigation {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 300px;
	height: 100%;
	transform: translateX(350px);
	#primary-mobile-menu {
		background: #FFF;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		height: 100%;
	}
	.mobile-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}
}
#closeMobileMenu {
	display: block;
	width: 30px;
	height: 40px;
	background: transparent;
	position: absolute;
	top: 40px;
	left: -50px;
	cursor: pointer;
	&:before, &:after {
		content:"";
		display: block;
		width: 100%;
		height: 3px;
		background: #FFF;
		position: absolute;
		top: 17px;
		left: 0;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

@media screen and (max-width: $tabwidth) {
	#site-navigation {
		display: none;
	}
	.site-header {
		height: 70px;
		background: #FFF;
		transition: all ease .3s;
		.wrapper, .flexwrap {
			height: 100%;
			padding-top: 0;
			padding-bottom: 0;
		}
		&.fixed {
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 500;
			box-shadow: 0 -1px 27px 6px rgba(0,0,0,0.3);
		}
		.logo {
			position: absolute;
			left: 0;
			top: 0;
			width: 120px;
			height: 100%;
			@include flexgroup-center();
		}
	}
	.menu-toggle {
		-webkit-appearance: none;
		box-shadow: none;
		border: none;
		text-decoration: none;
		display: block;
		width: 50px;
		height: 100%;
		background: transparent;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		span.bar {
			position: relative;
		}
		span.bar,
		span.bar:before, span.bar:after {
			display: block;
			width: 100%;
			height: 3px;
			background: $primary;
			transition: all ease .3s;
		}
		span.bar:before, span.bar:after {
			content:"";
			position: absolute;
			left: 0;
		}
		span.bar:before {
			top: -10px;
		}
		span.bar:after {
			top: 10px;
		}
		&.open {
			// span.bar {
			// 	background: transparent;
			// }
			// span.bar:before {
			// 	transform: translateY(10px) rotate(45deg);
			// }
			// span.bar:after {
			// 	transform: translateY(-10px) rotate(-45deg);
			// }
		}
		
	}
	#mobile-navigation {
		display: block;
		backface-visibility: hidden;
		#primary-mobile-menu {
			margin: 0 0;
			padding: 0 0;
			a {
				display: block;
				font-size: 25px;
				font-weight: 400;
				line-height: 1.2;
				color: $primary;
				text-decoration: none;
			}
		}
		.mobile-inner {
			background: #FFF;
			padding: 30px 30px 60px;
			box-shadow: -6px 0 40px 5px rgba(0,0,0,0.3);
		}
		ul#primary-mobile-menu.mobile-menu > li > a {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		ul#primary-mobile-menu.mobile-menu ul {
			border-bottom: 1px solid $primary;
			padding-bottom: 25px;
			margin: 0 0;
			padding: 0 0 13px 15px;
			list-style: none;
			li a {
				position: relative;
				padding-left: 15px;
				&:before {
					content:'';
					display: block;
					width: 5px;
					height: 5px;
					border-radius: 100px;
					background: $secondary;
					position: absolute;
					top: 14px;
					left: 0;
				}
			}
		}
		ul#primary-mobile-menu.mobile-menu ul a {
			font-size: 20px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		ul#primary-mobile-menu.mobile-menu > li.current_page_item > a,
		ul#primary-mobile-menu.mobile-menu > li:hover > a {
			color: $secondary;
		}
	}

	body.open-mobile-menu {
		#mobile-menu-backdrop, #mobile-navigation {
			display: block;
		}
		#mobile-navigation {
			transform: translate(0,0);
		}
	}
	body.logged-in.admin-bar {
		.mobile-inner {
			padding-top: 50px;
		}
	}
	#closeMobileMenu:before, 
	#closeMobileMenu:after {
		top: 0;
	}
}


/* Banner */
.swiper-container {
	width: 100%;
	float: left;
	position: relative;
	overflow:hidden;
	height: 340px;
	background-color: $primary;
	@include tab {
		height: 500px;
	}
	@include mid {
		height: 650px;
	}
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	img.placeholder {
		width: 100%;
		height: auto;
		float: left;
		display: none;
	}
	.swiper-wrapper,
	.swiper-slide {
		width: 100%;
		height: 100%;
		float: left;
	}
	.swiper-wrapper {
		position: relative;
	}
	.swiper-slide {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.slideCaption {
		width: 100%;
		height: 100%;
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
		@include flexgroup-center();
		.wrapper {
			height: 100%;
		}
		.slideInside {
			max-width: $wrapper;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding: 30px;
			.slideMid {
				background: rgba($primary,0.95);
				color: #FFF;
				font-family: $font_secondary;
				font-size: 20px;
				line-height: 1.3;
				margin: 0 auto;
		    padding: 20px 20px 15px;
		    max-width: 900px;
		    width: 100%;
			}
			.slideTitle {
				display: block;
				width: 100%;
				font-size: 30px;
				font-weight: 300;
				line-height: 1.2;
				margin: 0 0;
				text-transform: uppercase;
			}
			.slideText {
				font-family: $font_primary;
			}
		}
		&.tagline {
			text-align: center;
			.slideTitle {
				font-size: 20px;
				letter-spacing: 1px;
				@include tab {
					font-size: 30px;
				}
				u {
					font-style: normal;
					display: inline-block;
					position: relative;
					text-decoration: none;
					&:after {
						content:"";
						display: block;
						width: 100%;
						height: 2px;
						background: $secondary;
					}
				}
			}
			.slideMid {
				max-width: unset;
				width: auto;
				display: inline-block;
				padding: 25px 30px 25px;
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		&:after {
			color: #FFF;
			outline: none;
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background: #FFF;
		opacity: 0.5;
		transition: all ease .3s;
		outline: none;
		&.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
}
#slideshow {
	.swiper-slide.swiper-slide-active {
		.slideMid {
			animation-delay: 0.6s;
			-webkit-animation-name: fadeInDown;
    	animation-name: fadeInDown;
		}
	}
}

.hero-video-wrap {
	width: 100%;
	float: left;
	position: relative;
	overflow:hidden;
	height: 270px;
	background-color: $primary;
	@include tab {
		height: 400px;
	}
	@include mid {
		height: 500px;
	}
	@include desk {
		height: 700px;
	}
	video {
		width: 100vw!important;
		height: 80vw!important;
		position: absolute;
		top: -3vh;
		left: 0;
		@include desk {
			top: -30vh;
			height: 80vw!important;
		}
	}
	.videoCaption {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include flexgroup-center();
		.inside {
			max-width: 1000px;
			width: 100%;
			margin: 0 auto;
			padding: 0 30px;
			text-align: center;
		}
		.mid {
			display: inline-block;
			background: rgba($primary,0.95);
			color: #FFF;
			font-family: $font_secondary;
			font-size: 20px;
			line-height: 1.3;
			margin: 0 auto;
	    padding: 20px 20px 15px;
		}
		.vidTitle {
			display: block;
			width: 100%;
			font-size: 20px;
			font-weight: 300;
			line-height: 1.2;
			margin: 0 0;
			text-transform: uppercase;
			@include tab {
				font-size: 30px;
			}
			u {
				font-style: normal;
				display: inline-block;
				position: relative;
				text-decoration: none;
				&:after {
					content:"";
					display: block;
					width: 100%;
					height: 2px;
					background: $secondary;
				}
			}
		}

	}
}

#content
.content-area-full {
	width: 100%;
	float: left;
	position: relative;
}
.col-title {
	font-family: $font_secondary;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 25px;
	position: relative;
	&:after {
		content:"";
		display: block;
		width: 12%;
		height: 2px;
		background: $secondary;
		margin: 20px 0 0;
	}
	@include tab {
		font-size: 40px;
	}
}
.btn-theme {
	display: inline-block;
	background: $primary;
	color: #FFF;
	padding: 14px 40px 12px 22px;
	font-size: 15px;
	line-height: 1.1;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	transition: all ease .3s;
	.arrow {
		display: inline-block;
		width: 10px;
		height: 100%;
		position: absolute;
		top: 3px;
		right: 18px;
		&:before, &:after {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			background: $secondary;
			position: absolute;
			top: 50%;
			left: 0;
			transition: all ease .3s;
		}
		&:before {
			margin-top: -6px;
			transform: translateY(-50%) rotate(42deg);
		}
		&:after {
			transform: translateY(-50%) rotate(-42deg);
		}
	}
	&:hover {
		background: $secondary;
		.arrow {
			&:before,&:after {
				background: #FFF;
			}
		}
	}
}
.home-row-2 {
	background: $light-gray;
	position: relative;
	&:after {
		content:"";
		display: block;
		width: 18vw;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: $gray;
	}
	.left, .right {
		height: 100%;
	}
	.left {
		width: 78vw;
		padding-right: 30px;
		position: relative;
		z-index: 5;
		@include tab {
			width: 80%;
			padding-right: 5vw;
		}
		.text {
			position: relative;
			font-size: 20px;
			line-height: 1.5;
		}
	}
	.right {
		width: 5%;
		background: #FFF;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		@include tab {
			width: 20%;
		}
	}
	.row-2-content {
		position: relative;
		z-index: 5;
    padding-top: 100px;
    padding-bottom: 150px;
	}
	.ctaButton {
		width: 100%;
		position: absolute;
		bottom: 0;
		right: -5vw;
		text-align: right;
	}

	@media screen and (max-width: $tabwidth) {
		.ctaButton {
			position: relative;
			right: 10px;
			margin-top: 30px;
			text-align: center;
		}
		&:after {
			display: none;
		}
		.left {
			width: 100%;
			padding-right: 0;
		}
		.row-2-content {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}

.home-row-3  {
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include desk {
		padding-top: 140px;
		padding-bottom: 140px;
	}
	.col-gallery,
	.col-description {
		width: 100%;
	}
	.flexwrap {
		@include flexgroup();
		@include flexbox-align-content(center);
		@include flexbox-justify(center);
	}
	.col-description {
		padding-left: 20px;
		padding-right: 20px;
		margin: 30px 0;
		@include tab {
			margin: 0 0;
			@include flexgroup-center();
		}
	}
	&.half {
		.col-gallery {
			width: 100%;
			@include tab {
				width: 40%;
				padding-right: 0;
			}
			@include mid {
				padding-right: 3vw;
			}
		}
		.col-description {
			width: 100%;
			@include tab {
				width: 60%;
				padding-left: 3vw;
				padding-right: 18vw;
			}
		}
	}
	.gallery-inner {
		@include flexgroup();
		margin-left: 0;
		@include tab {
			margin-left: -10px;
		}
	}
	.imagebox {
		position: relative;
		width: 100%;
		padding: 10px;
		overflow: hidden;

		&.even {
			@include tab {
				width: 50%;
			}
			@include mid {
				width: 40%;
			}
		}
		&.odd {
			@include tab {
				width: 50%;
			}
			@include mid {
				width: 60%;
			}
		}
		.pad {
			padding: 10px;
			position: relative;
			float: left;
			width: 100%;
		}
	}
	.bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	img.placeholder {
		width: auto;
		height: 150px;
		float: left;
		@include xs {
			height: 100px;
		}
		@include mid {
			height: 200px;
		}
	}
	.count-1 {
		.imagebox {
			width: 100%!important;
		}
	}
	.ctaButton {
		margin-top: 40px;
		@include mid {
			margin-top: 8vh;
		}
	}
	@media screen and (max-width: $tabwidth) {
		img.placeholder {
			height: 20vh;
		}
	}
}

.home-row-4 {
	background: $primary;
	color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include desk {
		padding-top: 100px;
		padding-bottom: 120px;
	}
	.col-title {
		&:after {
			width: 10%;
			margin: 30px auto 0;
		}
	}
	.col-text {
		font-size: 20px;
		font-weight: 300;
    line-height: 1.6;
    margin-bottom: 40px;
	}
	.features-info {
		margin-top: 40px;
		margin-bottom: 40px;
		@include mid {
			margin-top: 80px;
			margin-bottom: 80px;
		}
		.flexwrap {
			@include flexgroup();
		}
	}
	.feature {
		width: 100%;
		text-align: center;
		@include tab {
			width: 33.33%;
		}
		.icon {
			text-align: center;
			margin-bottom: 25px;
			span {
				display: inline-block;
				width: 60px;
				height: 80px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		.h3 {
			font-family: $font_secondary;
			font-size: 25px;
			font-weight: 400;
			line-height: 1.2;
			margin: 0 0 15px;
		}
		.text {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.5;
		}
		.pad {
			padding: 20px;
		}
	}
	.ctaButton {
		margin-top: 40px;
	}
	.btn-theme.white {
		border: 1px solid #FFF;
		&:hover {
			border-color: $secondary;
		}
	}
}

.home-row-5 {
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include desk {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.inner {
		background: $light-gray;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		border-bottom: 3px solid $secondary;
		@include flexgroup();
		@include tab {
			padding-top: 70px;
			padding-bottom: 70px;
			&:before {
				content:"";
				display: block;
				width: 5vw;
				height: 110%;
				position: absolute;
				bottom: -5px;
				left: 0;
				background: #FFF;
			}
		}
	}
	.imagecol,
	.textcol {
		width: 100%;
		position: relative;
		z-index: 10;
	}

	&.half {
		.imagecol {
			width: 100%;
			padding: 15px 30px 30px;
			@include xs {
				padding: 0 0;
				width: 30%;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.textcol {
			width: 100%;
			padding:0 30px 30px;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.5;
			@include xs {
				width: 70%;
				padding: 0 4vw;
			}
		}
	}
	.ctaButton {
		margin-top: 30px;
		@include tab {
			margin-top: 55px;
		}
		.btn-theme {
			padding-left: 50px;
			padding-right: 70px;
			.arrow {
				right: 30px;
			}
		}
	}
}

.home-row-6 {
	background: $primary;
	color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.col-title {
		&:after {
			width: 8%;
			margin: 30px auto 0;
		}
	}
	.col-text {
		font-size: 20px;
		font-weight: 300;
    line-height: 1.6;
    margin-bottom: 40px;
	}
	.features-info {
		margin-top: 40px;
		margin-bottom: 0;
		@include mid {
			margin-top: 80px;
			margin-bottom: 0;
		}
		.flexwrap {
			@include flexgroup();
		}
	}
	.feature {
		width: 100%;
		text-align: center;
		@include tab {
			width: 33.33%;
		}
		.icon {
			text-align: center;
			margin-bottom: 25px;
			span {
				display: inline-block;
				width: 60px;
				height: 80px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		.h3 {
			font-family: $font_secondary;
			font-size: 25px;
			font-weight: 400;
			line-height: 1.2;
			margin: 0 0 15px;
		}
		.text {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.5;
		}
		.pad {
			padding: 20px;
		}
	}
	.ctaButton {
		margin-top: 40px;
	}
	.btn-theme.white {
		border: 1px solid #FFF;
		&:hover {
			border-color: $secondary;
		}
	}
}

.home-row-7 {
	padding-top: 60px;
	padding-bottom: 70px;
	@include tab {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include desk {
		padding-top: 120px;
		padding-bottom: 130px;
	}
	.col-title {
		&:after {
			width: 10%;
			margin: 30px auto 0;
		}
	}
	.col-text {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.6;
	}
	.ctaButton {
		margin-top: 40px;
		@include tab {
			margin-top: 60px;
		}
	}
}

.default-template {
	.site-main {
		min-height: 30em;
	}
	.entry-header {
		margin-top: 50px;
	}
	.entry-title {
		font-family: $font_secondary;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.2;
		margin: 0 0 30px;
	}
}

/* FOOTER */
.site-footer {
	background: $gray;
	color: #FFF;
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 15px;
	.footer-inner {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		margin-left: -20px;
		margin-right: -20px;
	}
	.footer-contact {
		position: relative;
		right: 0;
		@include tab {
			right: -20px;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: #FFF;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	.foot-col {
		display: inline-block;
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer-logo {
		display: inline-block;
		width: 140px;
		img {
			width: 100%;
			height: auto;
		}
	}
	span.divider {
		display: inline-block;
    width: 1px;
    height: 16px;
    background: #FFF;
    position: relative;
    top: 3px;
    margin: 0 10px;
	}
}
